* {
    box-sizing: border-box;
    outline: none;
}

/* GAME CONTAINER */
#game {
    padding: 15px;
}
/*  */

/* CARDS */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 150px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.spades,
.clubs {
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: auto;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: arial;
}

.hearts,
.diamonds {
    border: solid;
    border-color: black;
    border-width: 5px;
    margin: auto;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-family: arial;
}
/*  */

/* BUTTONS */

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#deal {
    background-color: #323fff;
}

#reset {
    background-color: #e8fd27;
}

#finish {
    background-color: #0fdf43;
}
/*  */

/* Texts */
#score,
#message {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    font-family: Ubuntu;
    font-weight: bold;
}

h3 {
    font-family: Ubuntu;
    font-weight: bold;
    width: 50px;
}
/*  */

/* TITLE */
h1 {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Ubuntu;
    font-weight: bolder;
}
